* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    line-height: 1.6;
}

/* NAVIGATION */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0077b6;
    color: white;
    padding: 1rem;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo{
    align-items: center;
    background-color: #0077b6;    
    text-align: center;
}

h1 {
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
}

.logo img {
   border-radius: 50px;    

}


.nav-links {
    list-style: none;
    display: none; /* mobile first */
    flex-direction: column;
    background: #0077b6;
    width: 100%;             /* evita colapso de fondo */
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
}

.menu-btn {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.hero {
    padding: 0;
}


.hero-img {
    width: 100%;
    height: 60vh;          
    object-fit: cover;
}



.featured {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

}






