* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    line-height: 1.6;
}

/* HEADER & NAV */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0077b6;
}

header .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0.5rem 1rem;
}

header .logo img {
    border-radius: 50px;
}

header .logo h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
}

/* NAVIGATION */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0077b6;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: none;  
    flex-direction: column;
    background: #0077b6;
    width: 100%;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
}

.menu-btn {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.hero {
    position: relative;
    padding: 0;
}

.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.intro {
    text-align: center;
    padding: 2rem;
}

h2, h3 {
    font-family: "Montserrat", sans-serif;
}


/* Sección Featured */
.featured {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título de la sección */
.featured h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Contenedor de imágenes */
.featured-images {
    display: flex;
    flex-direction: row; /* Siempre en fila */

    justify-content: center;
    flex-wrap: wrap; /* esto me permite que las imágenes bajen de fila si no caben */
    margin-bottom: 2rem;
}

.featured-images img {
    width: 100%;
    max-width: 300px; 
    height: auto;

    object-fit: cover;
}

/* Contenedor de texto */
.featured-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.featured-text h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.featured-text p {
    font-size: 1rem;
    line-height: 1.5;
}


.facts ul {
    padding-left: 1.2rem;
}


footer {
    background-color: #00274D;
    color: white;
    padding: 2rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-container h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 0.5rem;
}

footer input[type="email"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
}

footer button {
    padding: 0.5rem 1rem;
    background-color: #00274D;
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    cursor: pointer;
}

.sitemap, #LastModified {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}
/* Luego hago el root*/