* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    line-height: 1.6;
}

/* HEADER & NAV */
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0077b6;
}

header .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0.5rem 1rem; 
    color: #ffffff;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight:lighter
}

header .logo img {
    border-radius: 50px;
    box-shadow: 0 4px 20px #ffdd57;
}

header .logo h1 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 1rem;
    position: absolute;
    top: 20%;
}

.hamburger::before {
    content: "\2630"; /* ☰ */
    color: #ffffff;
}

.hamburger.show::before {
    content: "\2715"; /* ✕ */
}

/* Navigation */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #0077b6; 
}

.navigation a {
    display: block;
    padding: 0.8rem 1rem;
    color: #ffffff;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 1rem;
}



/* NAVIGATION */
.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background: #0077b6;
    padding: 1rem;
}

.nav-links {
    list-style: none;
    display: none;  
    flex-direction: column;
    background: #0077b6;
    width: 100%;

}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
}

.menu-btn {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.hero {
    position: relative;
    padding: 0;
}

.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.intro {
    text-align: center;
    padding: 2rem;
    border:1px solid #51d387;
}

h2, h3 {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    font-size: 2rem;
}


/* Sección Featured */
.featured {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Título de la sección */
.featured h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Contenedor de imágenes */
.featured-images {
    display: flex;
    flex-direction: row;

    justify-content: center;
    flex-wrap: wrap; /* esto me permite que las imágenes bajen de fila si no caben */
    margin-bottom: 2rem;
}



.featured-images img {
    width: 100%;
    max-width: 300px; 
    aspect-ratio: 1/1 ;
    height: auto;
    object-fit: cover;

    
}

.featured-images img:hover {
  transform: translateY(-1px);
    box-shadow: 0 4px 20px

}

/* Contenedor de texto */
.featured-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
}

.featured-text h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.featured-text p {
    font-size: 1rem;
    line-height: 1.5;
}


.facts ul {
    padding-left: 1.2rem;
}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    
}
.social-media a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social-media img {
    width: 22px;
    height: 22px;

}

.social-media a:hover {
    background-color: #ddd;
}


footer {
    background-color: #0077b6; 
    color: white;
    padding: 2rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer-container h3 {
    font-family: 'Merriweather', serif;
    margin-bottom: 0.5rem;
}

footer input[type="email"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-right: 0.5rem;
}

footer button {
    padding: 0.5rem 1rem;
    background-color: #00274D;
    border: none;
    border-radius: 5px;
    color: white;
}

button:hover {
    cursor: pointer;
}

.sitemap, #LastModified {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}
/* Luego hago el root*/