
@media (min-width: 38rem) {
    .menu-btn {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: auto; 
    }
}

/* HERO */
.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 60vh;          
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 50%;
    left: 30%;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}

/* SECTION STYLES */
section {
    padding: 2rem;
}

.cards {
    display: grid;
    gap: 2rem;
    width: 80%;

}

.card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
    color: black;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 80%;
    border-radius: 8px;
}


/* FOOTER */
footer {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #ffdd57;
    text-decoration: none;
}