/* Desktop and larger screens */
@media (min-width: 38rem) {
    .menu-btn {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        position: static;
        height: auto;
        width: auto;
        left: 0;
        padding-top: 25px;
        display: block;
        transition: none;
    }

    .navigation ul {
        list-style: none;
        text-decoration: none;
        flex-direction: row;
        justify-content: flex-end;
    }

    .hero {
        position: relative;
    }

    .hero-img {
        width: 100%;
        height: var(--hero-height);
        object-fit: cover;
    }

    .hero-text {
        position: absolute;
        bottom: 50%;
        left: 30%;
        color: var(--color-header-text);
        background: rgba(0,0,0,0.4);
        padding: 1rem;
        border-radius: 8px;
        text-align: center;
    }

    section {
        padding: 2rem;
  
    }

    .section h2 {
        text-align: center;
        margin-bottom: 20px;
        color: #00796b;
    }

    .featured-images {
        flex-direction: row; 
        align-items: center;
    }

.facts ul{
    display: flex;
    justify-content: center;
}

    .featured-text {
        flex-direction: row; 
        justify-content: space-between;
        text-align: left;
    }

    .featured-text > div {
        flex: 1;
        margin: 0 1rem;
    }

    footer {
        background: var(--color-footer-bg);
        color: var(--color-header-text);
        text-align: center;
        padding: 1rem;
    }

    footer a {
        color: var(--color-logo-shadow);
        text-decoration: none;
    }
}