/* NAV on desktop */
@media (min-width: 38rem) {
    .menu-btn {
        display: none;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        width: auto;
    }

.hamburger {
  display: none;


}

.navigation {
  display: block;
  }

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #0077b6;      
    gap: 1rem


}




.hero {
    position: relative;
}

.hero-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    bottom: 50%;
    left: 30%;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 1rem;
    border-radius: 8px;
    text-align: center;
}


section {
    padding: 2rem;
}


 .featured-images {
        flex-direction: row; 
        align-items: center;
    }

    .featured-text {
        flex-direction: row; 
        justify-content: space-between;
        text-align: left;
    }

    .featured-text > div {
        flex: 1;
        margin: 0 1rem;
    }



footer {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer a {
    color: #ffdd57;
    text-decoration: none;
}
}