@media only screen and (min-width: 38rem) {

  .section {

      display: grid;
      grid-template-columns: 2fr 1fr;
      margin: 5px;
      height: auto;
      gap: 10px;
      height: 100%x;

    }

.section p {
  margin: 10px;
}

  header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
      }

    header {
        grid-template-columns: 24px auto;
    }

.photo {
   background-color: rgb(97, 141, 182);
   text-align: center;
   border: 1px solid #131010;
   margin: 0;
   border-radius: 5px;

}

.photo img {
  margin: 10px;
}


  .hamburger {
      display: none;
  }

h2 {
  margin: 0;
} 
.navigation {
  display: block;
  background-color: #3D405B;    

  }

.filters {
 text-align: center;
 padding: 15px;

}

#certificates {
  border: solid 1px #131010;
  border-radius: 5px;
  background-color: rgb(97, 141, 182);
}

.navigation ul {
  padding: 5px;
  display: flex;
  gap: 20px;

  margin: 2px;

}

.hamburger {
  display: none;


}
   
#about-me {
 background-color: rgb(97, 141, 182);
  border: 1px solid #131010;
  margin: 0;
  border-radius: 5px;
  justify-content: center;
}



.footer-p {
  font-size: 12px;
margin: .5rem auto;

}


}