

.container {
  padding: 1rem;
  background-color: #fff;
  color: #333;
  width: fit-content;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 10px;
}

.town {
    font-size: .3rem;
}


.card   {padding: 1rem 1rem 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 10px;
  background-color: #bed;
  text-align: center;
}

.





h1{
    text-align: center;

}

footer {
    text-align: center;
}