

.container {
  padding: 1rem;
  background-color: #fff;
  color: #333;
  width: fit-content;
  margin: 1rem auto;
  border: 1px solid black;
  border-radius: 0px;

}

.card {
    background-color: aquamarine;
 border: 1px solid black;
  border-radius: 10px;
padding: 1rem 1rem 1rem;
  text-align: center;

}

.card #current-temp {
    font-size: 2rem;
    margin: .3rem 0;
}

#town {
    font-size: 1.2rem;
    color: #072724;
    
}

h1 {
    text-align: center;
}

footer {
    text-align: center;

}