@media only screen and (min-width: 38rem) {




.hamburger {
  display: none;


}

.navigation {
  display: block;

  }

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #00274D;      
    gap: 1rem

}

nav a.active {
  color: #bd5405; /* highlight color */
  font-weight: bold;
  border-bottom: 2px solid #39e6a4;
}

#membersContainer.grid {
  display: grid;
  flex-wrap:wrap;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 20px;

}

.member-card {
  border: solid 1px black;
  border-radius: 10px;
  padding: 1rem;

  color: black;
  margin: 10px;
  font-size: 15px;
}

  .navigation.show ul {
    display: flex;
  }

}