@media only screen and (min-width: 38rem) {




.hamburger {
  display: none;


}

.navigation {
  display: block;

  }

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #00274D;      
    gap: 1rem

}


.navigation.show ul {
   display: flex;
  }

.carousel{
    display: flex;

    overflow-x: auto;
    gap: 1rem;
    justify-content: center;

}

.carousel.a {
    text-decoration: none;
}




.testimonial-slider {
    position: relative;
    overflow: hidden;
    height: 100px; /* ajusta según tu contenido */
    margin: 2rem auto;
    text-align: center;
    align-self: auto;
    border: 1px solid black;
    padding: 5px;
  


}



.testimonial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;



}

.testimonial.active {
    opacity: 1;
}






}


