@media only screen and (min-width: 38rem) {




.hamburger {
  display: none;


}

.navigation {
  
  display: block;
  background-color: #00274D;
  }

.navigation ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
   background-color: #00274D;      


}

#membersContainer.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 20px;

}



  .navigation.show ul {
    display: flex;
  }

}